<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="_dataSource" class="org.mariadb.jdbc.MariaDbDataSource">
		<property name="url" value="jdbc:mariadb://127.0.0.1:3306/mybatis" />
		<property name="userName" value="mybatis" />
		<property name="password" value="mybatis" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="_dataSource" />
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.sendtomoon" />
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean>

	<context:component-scan base-package="com.sendtomoon" />
	<context:annotation-config />
</beans>